

/* :host {
  position: fixed;
  top: 0;
  width: 100%;
} */




.navbar{
  justify-content: space-between;
  /* background-color: black; */
  background-color: transparent;
  /* position: absolute; */
  /* background-color:transparent; */
  /* position: fixed; */
  /* backdrop-filter: saturate(180%) blur(1px); */
  /* position:fixed; */
  overflow: visible;
  /* opacity: 0.9; */
  /* z-index:2;
  width: 100%; */
  z-index: 1;
  position: sticky;
}



.navbar a{
  padding-right: 1rem;
  color: white;
  text-decoration-style: none;
  font-size: 50px;
}

.navbar a:hover{
  color: yellow;
  cursor: pointer;
}

.logo{
  /* font-size: 30px; */
  font-family: 'Lobster Two', cursive;
  font-size:220%;
  color:#E50914;

}


.hero{
  transition-delay: 2s;
  box-shadow: inset 0 0 5em 1em #000;
  background-image: url(../../assets/hero1.webp);
  /* height: 100%;
  width: 100%; */
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  
}

.fa{
  color: #f03a3a;
}

.tagline{
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px white;
  opacity: 0.8;
  
}

.start{
  position: relative;
  text-align: center;
  padding: 20%;
  margin: auto;
  /* top: 300px;
  left: 640px; */
  display: block;
  
}

.start button{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-size: 200%;
  width: 30%;
  height: 200%; */
  /* background: transparent; */
  
  
}

.start button:hover{
  font-size: 100%;
  /* font-size: 150%;
  width: 30%;
  height: 200%; */
  background: red;
  color: white;
}

.home{
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 16px;
}



.top-div{
  margin-bottom:5%;
}

.subsheading{
  padding: 10px;
  text-align: center;
  color: #f03a3a;
}

.option{
  text-align: center;
}

.subscription{
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 16px;
  color: white;
}

mat-radio-button{
  padding: 10px;
}

.littleop{
  color: red;
  opacity: 0.7;
}

.plans{
  padding: 10px;
  display: flex;
  flex-direction: row;
}


.sub-button{
  margin: 10px;
  background-color: #D4AF37;
  color: #262626;
}

.intro{
  text-align: center;
  margin: auto;
}

.tagline1{
  margin-top:0;

  
}

mat-horizontal-stepper{
  background: transparent
}

mat-vertical-stepper{
  background: transparent
}

.about{
  background-color: #f2f2f2;
  padding: 5%;
}

.about1{
  background-color: #f2f2f2;
  /* background-color: white; */
  /* display: flex; */
  margin: auto;
  /* flex-direction: row; */
  /* z-index: -1; */
}

.about2{
  /* background-color: black; */
  /* flex-direction: row; */
  /* display: flex; */
  /* opacity: 0.9; */
  /* z-index: -1; */
  background-color: #222222;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


.example-card {
  width:75%;
  overflow: hidden;
  margin:10px;
  padding: 5%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.top{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 10%;
  margin-right: 10%;
  
}

/* .carousel-wrapper {
  overflow: hidden;
}
.carousel {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 6000px;
} */
/* .carousel-inner {
  display: flex;
} */

.stats{
  background-color:#111010;
  color: white;
}

.tag{
  opacity: 0.7;
}

.substats{
  /* max-width: 75%; */
  
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
  max-width: 100%;
}


#success{
  font-size: 300%;
  font-variant-caps: small-caps;
  text-shadow: 1px 1px;
  text-align: center;
}


.storypic{
  height: 100%;
  width: 35%;
  padding: 10px;
  border-radius: 50%;
}

.story-block{
  background-color: white;
  margin-bottom: 20px;
}

.story{
  display: flex;
  max-width: 80%;
}

.story1{
  flex-direction: row-reverse;
  display: flex;
  max-width: 80%;
}

.more-story{
  text-align: center;
  /* margin: auto; */
}

.foot{
  margin-top: auto;
  padding: 12px;
  font-size: 12px;
  /* background: #171414; */
  color: #fff;
  display: block;
  background-color: #02000a;
  background-image: url("https://www.transparenttextures.com/patterns/cream-pixels.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.subfoot{
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
  font-size: 12px;
  color: #fff;
}

.a{
  color: red;
  flex: 1;
  flex: 30%;
  text-align: center;
  padding-left: 10%;
}

.b{
  color: red;
  flex:2;
  flex: 30%;
  text-align: center;
  padding-left: 10%;
}

.c{
  color: red;
  flex: 3;
  flex: 30%;
  text-align: center;
  padding-left: 10%;
}

.subfoot .A{
  font-family: 'Lobster Two', cursive;
  color: red;
  flex:25%;
  font-size: 250%;
  text-shadow: 0.5px 0.5px rgb(219, 66, 66);
  text-align: center;
}

.subfoot .B{
  flex: 25%;
  text-align: center;
}

.subfoot .C{
  flex: 25%;
  text-align: center;
}

.subfoot .D{
  flex: 25%;
  text-align: center;
}

.subfoot .D .social{
  height: 25px;
  width: 25px;
}

.subfoot .D .foot-style li{
  padding: 4px;
}

.foot-style{
  list-style: none;
}

.foot-style li{
  padding: 8px;
  
}



/*Carousel*/

.carousel_image{
  padding:auto;
  margin-bottom: 0;
  
}

#indicator{
  background-color: #000;
  color: #000;
}


.grid-container {
  margin: 5%;
}

.dashboard-card {
  float: none;
  /* position: absolute; */
  margin: 2%;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
  
}

.dashboard-card-content {
  text-align: center;
}
/* .filler {
  flex: 1 1 auto;
} */
/* label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
} */

/* input,
label {
  margin: .4rem 0 0 30rem;
}

mat-form-field {
  margin-right: 12px;
} */




mat-card{
  overflow: hidden;
  top:0;
}