<div class="home stats" [@scrollAnimation]="state">
      
    <div ><h2>Think Marriage, Think Gamos</h2></div>
    <div class="tag">Highest throughputs delivered at massive scale</div>
    
    <div class="substats">
        
    <div class="a">
        <h1><font size="+10">1</font><font size="-0.5">M+</font></h1>
        <p>Customers</p>
    </div>
    <div class="b">
            <h1><font size="+10">0.3</font><font size="-0.5">M+</font></h1>
            <p>Matches</p>
    </div>
    <div class="c">
            <h1><font size="+10">1:1</font></h1>
            <p>Gender Ratio</p>
    </div>
</div>
</div>


