<div class="top" [@scrollAnimation]="state">
    
    
       
    
    <div class="home">
        <div id="success">Top Profiles</div> <br>
        <div class="tag"><b>Check out the most visited profiles around you</b></div>
    </div>

<!--Carousel-->
     
<!-- <app-home-carousel></app-home-carousel> -->


<carousel-component >
        <div class="item-carousel" >
            <div class="b" >
                <img style="padding-top:10%" src="../../assets/image.webp">
            </div >
        </div>
        <div class="item-carousel" >
            <div class="b" >
                    <img style="padding-top:10%" src="../../assets/image.webp">
                </div >
        </div>
        <div class="item-carousel" >
                <div class="b" >
                        <img style="padding-top:10%" src="../../assets/image.webp">
                    </div >
        </div>
        <div class="item-carousel" >
                <div class="b" >
                        <img style="padding-top:10%" src="../../assets/image.webp">
                    </div >
        </div>
      </carousel-component>




<!--End whole switch case-->




</div>

<!-- </div> -->





